name: jest
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
          cache: yarn
      - run: yarn install
      - run: yarn build
      - run: yarn test:coverage
      - name: Upload test coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: jest-coverage
          path: coverage
